/* Slick.css */

/* Custom styles for slick carousel arrows */
.slick-prev,
.slick-next {
    font-size: 34px;
    line-height: 1;
    color: white;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.rotate-180 {
    transform: rotate(180deg);
}
